.mainContainer
{
    height: 100%;
    width: 100%;
    position: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 100;
}
a {
    color: white;
}
.wellStyles
{
    max-width: 300px;
    margin: auto;
    background: transparent;
    border: none;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 340px;
}

.logo {
    height: 70px;
    width: 250px;
    margin-top: 10px;
}

.logoContainer {
    text-align: center;
    margin-top: 45px;
}

.linkStyle
{
    font-size: 13px;
    text-align: center;
    margin-top: 15px
}

.mainButtons
{
    background: #4B77BE;
    border: none;
    font-size: 15px;
    padding: 6px 6px;
    margin-top: 10px
}
