.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 51px;
  background: #0c0c0c;
  border-bottom: 1px solid #11a9ed;
}
.next-to-nav-text{
  float: left;
  width: 100%;
  height: 50px;
  padding-left: 70px;
  line-height: 50px;
  color: white;
}
.header-breadcrumb {
  max-width: calc(100% - 80px);
}
.user-image-container{
  float: right;
  max-width: 44px;
  max-height: 44px;
  border-radius: 50%;
  margin: 3px;
}
.user-image-container img {
  float: right;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
