.activity-item {
    font-family: sans-serif;
    height: 70px;
    border-bottom: 1px solid #555;
    color: #888;
    font-size: 14px;
    line-height: 20px;
}

.activity-item img {
    margin: 17px;
    float: left;
}

.activity-info {
    float: left;
    height: inherit;
}

.activity-name {
    color: #11a9ed;
    font-size: 18px;
    margin-top: 6px;
    display: block;
}

.activity-date, .ativity-stats {
    margin: 0;
}