@import "../../../styles/variables";
.footer {
  //position: fixed;
  //left: 0;
  //bottom: 0;
  float: left;
  width: 100%;
  background-color: $footer-background;
  color: white;
  text-align: center;
  p {
    margin: 10px 0;
  }
}