@import "../../../styles/variables";
.no-border-radius {
  border-radius: 0;
}

.no-border-bottom {
  margin-bottom: 0;
}

#menuToggle {
  display: block;
  position: relative;
  top: 20px;
  left: 20px;
  float: left;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 15; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

#menuToggle span.burger-line {
  display: block;
  width: 24px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 3;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

#menuToggle span.burger-line:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span.burger-line:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span.burger-line {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $icon-regular;
}
#menuToggle input:checked ~ div.menu-overlay {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

#menuToggle input:not(:checked) ~ div.menu-overlay,
#menuToggle input:checked{
  display: none;
}
#menuToggle input:checked ~ span.burger-line:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span.burger-line:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);

}

#menuToggle input:checked ~ span.burger-line {
  background: white;
  display: none;
}

#menu {
  position: absolute;
  width: 250px;
  margin: -20px 0 0 -20px;
  top: 0;
  left: 0;
  padding: 20px 0;
  padding-top: 0px;
  overflow-y: scroll;
  height: 100vh;
  z-index: 10;
  background: #282828;
  color: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  hr {
    width: 100%;
    float: left;
    margin: 5px 0;
    border-top: 5px solid #222;

  }
}

#menu li {
  padding: 0;
  font-size: 22px;
  float: left;
  width: 100%;
  a {
    padding: 8px 15px 8px 20px;
    color: #fff;
    line-height: 22px;
    float: left;
    width: 100%;
    font: 400 14px/22px Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    i {
      color: $icon-regular;
      display: inline-block;
      margin-right: 20px;
      font-size: 19px;
      transition: opacity 300ms,-webkit-filter 300ms;
      transition: filter 300ms,opacity 300ms;
      transition: filter 300ms,opacity 300ms,-webkit-filter 300ms;
    }
    &.active {
      border-left: 4px solid #fff;
    }
    &:not(.active) {
      padding-left: 24px ;
    }
    &.social {
      i {
        color: $icon-social;
      }
    }&.green {
       i {
         color: $icon-green;
       }
     }&.gray {
        i {
          color: $icon-gray;
        }
      }
  }
}
html, body {
  background: #0c0c0c;
}
#menuToggle input:checked ~ ul {
  transform: none;
}